.container {
  text-align: center;
  padding: 20px;
  overflow: hidden;
  max-width: 100vw;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.input-box {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.map-container {
  width: 100%;
  height: 500px; 
  margin-top: 20px;
}

.route-info {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: left;
  width: 50%;
  margin: auto;
  background: #f8f9fa;
}

.route-info h3 {
  margin-bottom: 10px;
}

.route-info ul {
  list-style-type: none;
  padding: 0;
}

.route-info li {
  margin: 5px 0;
}
.dropdown {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
  text-align: center;
  font-size: 14px;
  color: #333;
}

.dropdown:hover {
  background: #f0f0f0;
}
